body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

background: url("https://media.istockphoto.com/id/1192837937/photo/elegant-whiskey-bottle-with-a-full-glass-on-a-wooden-background-in-retro-style.jpg?s=612x612&w=0&k=20&c=9fOIpBZWgG2auQz8MCY1_zI6jZGKVjIf8MqyGTPxed8=") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-container {}

.features-container {}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: lightslategray;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}